[View in Colaboratory](https://colab.research.google.com/github/sanzgiri/NBA_Data_Hackathon_2018/blob/master/NBA_Player_Salaries.ipynb)

You need to install **lxml** and restart runtime first time around with this notebook

In [0]:
import pandas as pd

In [2]:
#!pip install lxml

Collecting lxml
  Downloading https://files.pythonhosted.org/packages/eb/59/1db3c9c27049e4f832691c6d642df1f5b64763f73942172c44fee22de397/lxml-4.2.4-cp36-cp36m-manylinux1_x86_64.whl (5.8MB)
    100% |████████████████████████████████| 5.8MB 4.3MB/s
Installing collected packages: lxml
Successfully installed lxml-4.2.4

Using Spotrac data

In [0]:
def get_salaries_by_team_year_spotrac(team, year):
  
  url = 'https://www.spotrac.com/nba/{0}/cap/{1}/'.format(team, year)
  df = pd.read_html(url)
  return df[0]

In [8]:
get_salaries_by_team_year_spotrac('atlanta-hawks', 2017)

,Player (15),Age,Pos.,Signed Using,Base Salary,Trade Kicker,Likely Incent.,Dead Cap,Cap Figure,Cap %
0,BazemoreKent Bazemore,28,SF,Cap Space,"$16,910,113",-,-,"($54,269,663)","$16,910,113",16.89
1,SchröderDennis Schröder,24,PG,Bird,"$15,500,000",-,-,"($62,000,000)","$15,500,000",15.48
2,PlumleeMiles Plumlee,29,C,Bird,"$12,500,000",-,-,"($37,500,000)","$12,500,000",12.49
3,DedmonDewayne Dedmon,28,C,Cap Space,"$6,000,000",-,-,"($12,300,000)","$6,000,000",5.99
4,MuscalaMike Muscala,26,PF,Bird,"$5,000,000",-,-,"($10,000,000)","$5,000,000",4.99
5,DelaneyMalcom Delaney,28,SG,Cap Space,"$2,500,000",-,-,"($2,500,000)","$2,500,000",2.50
6,PrinceTaurean Prince,23,SF,Rookie,"$2,422,560",-,-,"($4,949,400)","$2,422,560",2.42
7,CollinsJohn Collins,20,PF,Rookie,"$1,936,920",-,-,"($4,236,000)","$1,936,920",1.93
8,BembryDeAndre' Bembry,23,SG,Rookie,"$1,567,200",-,-,"($3,201,840)","$1,567,200",1.57
9,TaylorIsaiah Taylor,23,PG,Minimum,"$1,312,611",-,-,"($1,312,611)","$1,312,611",1.31
10,DorseyTyler Dorsey,21,SG,Minimum,"$815,615",-,-,"($2,193,857)","$815,615",0.81
11,CavanaughTyler Cavanaugh,23,PF,Minimum,"$679,919",-,-,"($679,919)","$679,919",0.68
12,ClevelandAntonius Cleveland,23,SG,Minimum,"$133,632",-,-,"($133,632)","$133,632",0.13
13,MorrisJaylen Morris,22,G,Minimum,"$101,376",-,-,"($101,376)","$101,376",0.10
14,LeeDamion Lee,24,G,Minimum,"$46,080",-,-,"($46,080)","$46,080",0.05

In [0]:
def get_salaries_by_season_hoopshype(season):
  
  url = 'https://hoopshype.com/salaries/players/{0}/'.format(season)
  df = pd.read_html(url)
  return df[0].drop(['Unnamed: 0'], axis=1)

In [12]:
get_salaries_by_season_hoopshype('2017-2018')

                   Player \n\t\t\t\t\t\t\t2017/18\t\t\t\t\t\t
0           Stephen Curry                         $34,682,550
1            LeBron James                         $33,285,709
2            Paul Millsap                         $30,769,231
3          Gordon Hayward                         $29,727,900
4           Blake Griffin                         $29,512,900
5              Kyle Lowry                         $28,903,704
6             Mike Conley                         $28,530,608
7            James Harden                         $28,299,399
8       Russell Westbrook                         $28,299,399
9           DeMar DeRozan                         $27,739,975
10             Al Horford                         $27,734,405
11        Carmelo Anthony                         $26,243,760
12         Damian Lillard                         $26,153,057
13           Jrue Holiday                         $25,686,667
14             Chris Bosh                         $25,289,390
15           Kevin Durant                         $25,000,000
16            Otto Porter                         $24,773,250
17             Chris Paul                         $24,268,959
18            CJ McCollum                         $23,962,573
19         Andre Drummond                         $23,775,506
20       Hassan Whiteside                         $23,775,506
21          Anthony Davis                         $23,775,506
22           Bradley Beal                         $23,775,506
23          Dwight Howard                         $23,500,000
24        Harrison Barnes                         $23,112,004
25       Chandler Parsons                         $23,112,004
26              JJ Redick                         $23,000,000
27             Kevin Love                         $22,642,350
28         DeAndre Jordan                         $22,642,350
29            Brook Lopez                         $22,642,350
..                    ...                                 ...
556           Jamel Artis                             $75,000
557  James Michael McAdoo                             $75,000
558          Jacob Pullen                             $75,000
559           James Young                             $75,000
560           Alec Peters                             $75,000
561          Danuel House                             $75,000
562             CJ Wilcox                             $75,000
563        JaKarr Sampson                             $75,000
564           Jack Cooley                             $75,000
565       Darrun Hilliard                             $75,000
566         Matt Costello                             $75,000
567        Malcolm Miller                             $75,000
568         Lorenzo Brown                             $75,000
569          Eric Griffin                             $75,000
570          Nate Wolters                             $75,000
571           Erik McCree                             $75,000
572         Michael Young                             $75,000
573        Devin Robinson                             $75,000
574          Xavier Silas                             $74,158
575       Jonathan Gibson                             $74,158
576         Scotty Hopson                             $74,158
577          Landry Nnoko                             $50,000
578            VJ Beachem                             $50,000
579        Bronson Koenig                             $50,000
580         Daniel Ochefu                             $50,000
581    Marcus Thornton II                             $46,079
582         Jameel Warney                             $46,079
583         Aaron Jackson                             $46,079
584   Trey McKinney-Jones                             $46,079
585          Andre Ingram                             $46,079

[586 rows x 2 columns]